body{
    margin: 0;
    padding: 0;
}

body h1{
    color: aliceblue;
}

.navbar{
    background-color: #242424;
    height: 100px;
    width: 100%;
    position: fixed;
}

.navbar ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.navbar a:hover{
    color: #f3aa4b;
}

.inicio-container{
    display: block;
    background-image: url("images/bar.jpg");
  background-image: -webkit-linear-gradient(
    top,
    rgba(105, 105, 105, 0.562),
    rgba(22, 22, 22, 0.897)
  ),url("images/bar.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;    
  background-position: center center;
  background-size: cover;
    width: 100%;
    height: 800px;
}

.image-nav{
    display: flex;
    margin: auto;
}